.about-page-container {
    height: 80vh;
    padding: 40px 20px;
    display: flex;
    align-content: center;
    flex: auto;
}
.content {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.past {

}

.present {

}

.future {

}
