#root {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
